In [8]:
import pandas as pd
pd.set_option('display.max_columns',10)

In [9]:
df=pd.read_csv(r"C:\Users\ROHAN SANJAY\DOWNLOADS\Flipkart_Mobiles.csv")

In [11]:
df

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990
...,...,...,...,...,...,...,...,...
3109,SAMSUNG,M52 5G,Blazing Black,6 GB,128 GB,4.3,25990,25990
3110,SAMSUNG,M52 5G,Icy Blue,6 GB,128 GB,4.3,25489,28449
3111,SAMSUNG,M52 5G,Icy Blue,8 GB,128 GB,4.3,27239,31489
3112,SAMSUNG,M52 5G,Slate Black,8 GB,128 GB,4.2,22989,22989
3113,SAMSUNG,M52 5G,Sky Blue,8 GB,128 GB,4.2,20350,22595

In [12]:
f=df['Memory'].str.strip()

In [14]:
f.to_csv("D:\Flipkart_new.csv")

In [15]:
k=df.fillna(method='pad')
k

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990
...,...,...,...,...,...,...,...,...
3109,SAMSUNG,M52 5G,Blazing Black,6 GB,128 GB,4.3,25990,25990
3110,SAMSUNG,M52 5G,Icy Blue,6 GB,128 GB,4.3,25489,28449
3111,SAMSUNG,M52 5G,Icy Blue,8 GB,128 GB,4.3,27239,31489
3112,SAMSUNG,M52 5G,Slate Black,8 GB,128 GB,4.2,22989,22989
3113,SAMSUNG,M52 5G,Sky Blue,8 GB,128 GB,4.2,20350,22595

In [16]:
k.to_csv("D:\Flipkart_new_1.csv")

In [17]:
k.drop(['Storage'],axis=1,inplace=True)
k

,Brand,Model,Color,Memory,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,4.5,11990,15990
1,OPPO,A53,Mint Cream,4 GB,4.5,11990,15990
2,OPPO,A53,Moonlight Black,6 GB,4.3,13990,17990
3,OPPO,A53,Mint Cream,6 GB,4.3,13990,17990
4,OPPO,A53,Electric Black,4 GB,4.5,11990,15990
...,...,...,...,...,...,...,...
3109,SAMSUNG,M52 5G,Blazing Black,6 GB,4.3,25990,25990
3110,SAMSUNG,M52 5G,Icy Blue,6 GB,4.3,25489,28449
3111,SAMSUNG,M52 5G,Icy Blue,8 GB,4.3,27239,31489
3112,SAMSUNG,M52 5G,Slate Black,8 GB,4.2,22989,22989
3113,SAMSUNG,M52 5G,Sky Blue,8 GB,4.2,20350,22595

In [21]:
k.to_csv("D:\Flipkart_new_2.csv")
df.count()

Brand             3114
Model             3114
Color             3114
Memory            3071
Storage           3075
Rating            2970
Selling Price     3114
Original Price    3114
dtype: int64

In [20]:
x=df.dropna()
x.count()

Brand             2897
Model             2897
Color             2897
Memory            2897
Storage           2897
Rating            2897
Selling Price     2897
Original Price    2897
dtype: int64

In [22]:
x.to_csv("D:\Flipkart_new_3.csv")

In [23]:
n=pd.read_csv("D:\Flipkart_new_2.csv")

In [24]:
n

,Unnamed: 0,Brand,Model,Color,Memory,Rating,Selling Price,Original Price
0,0,OPPO,A53,Moonlight Black,4 GB,4.5,11990,15990
1,1,OPPO,A53,Mint Cream,4 GB,4.5,11990,15990
2,2,OPPO,A53,Moonlight Black,6 GB,4.3,13990,17990
3,3,OPPO,A53,Mint Cream,6 GB,4.3,13990,17990
4,4,OPPO,A53,Electric Black,4 GB,4.5,11990,15990
...,...,...,...,...,...,...,...,...
3109,3109,SAMSUNG,M52 5G,Blazing Black,6 GB,4.3,25990,25990
3110,3110,SAMSUNG,M52 5G,Icy Blue,6 GB,4.3,25489,28449
3111,3111,SAMSUNG,M52 5G,Icy Blue,8 GB,4.3,27239,31489
3112,3112,SAMSUNG,M52 5G,Slate Black,8 GB,4.2,22989,22989
3113,3113,SAMSUNG,M52 5G,Sky Blue,8 GB,4.2,20350,22595

In [25]:
y=n.replace({4.3:4.44})
y

,Unnamed: 0,Brand,Model,Color,Memory,Rating,Selling Price,Original Price
0,0,OPPO,A53,Moonlight Black,4 GB,4.50,11990,15990
1,1,OPPO,A53,Mint Cream,4 GB,4.50,11990,15990
2,2,OPPO,A53,Moonlight Black,6 GB,4.44,13990,17990
3,3,OPPO,A53,Mint Cream,6 GB,4.44,13990,17990
4,4,OPPO,A53,Electric Black,4 GB,4.50,11990,15990
...,...,...,...,...,...,...,...,...
3109,3109,SAMSUNG,M52 5G,Blazing Black,6 GB,4.44,25990,25990
3110,3110,SAMSUNG,M52 5G,Icy Blue,6 GB,4.44,25489,28449
3111,3111,SAMSUNG,M52 5G,Icy Blue,8 GB,4.44,27239,31489
3112,3112,SAMSUNG,M52 5G,Slate Black,8 GB,4.20,22989,22989
3113,3113,SAMSUNG,M52 5G,Sky Blue,8 GB,4.20,20350,22595

In [34]:
new=y['Model'].isin(['M52 5G'])
y[new]

,Unnamed: 0,Brand,Model,Color,Memory,Rating,Selling Price,Original Price
3108,3108,SAMSUNG,M52 5G,Blazing Black,8 GB,4.44,27839,31889
3109,3109,SAMSUNG,M52 5G,Blazing Black,6 GB,4.44,25990,25990
3110,3110,SAMSUNG,M52 5G,Icy Blue,6 GB,4.44,25489,28449
3111,3111,SAMSUNG,M52 5G,Icy Blue,8 GB,4.44,27239,31489
3112,3112,SAMSUNG,M52 5G,Slate Black,8 GB,4.20,22989,22989
3113,3113,SAMSUNG,M52 5G,Sky Blue,8 GB,4.20,20350,22595